<a href="https://colab.research.google.com/github/samirlenka/Python_Data_Structure_Practice/blob/master/Python_Basic_(Part_I)_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print the following string in a specific format -

Output :

Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [ ]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

2. Write a Python program to get the Python version you are using

In [ ]:
import sys
print('Python Version : ')
print(sys.version)
print('Version Info. : ')
print(sys.version_info)

Python Version :
3.6.9 (default, Nov  7 2019, 10:44:02)
[GCC 8.3.0]
Version Info. :
sys.version_info(major=3, minor=6, micro=9, releaselevel='final', serial=0)

3.Write a Python program to display the current date and time.

Sample Output :Current date and time : 2020-06-29 20:04:10

In [ ]:
import datetime
current_date_time = datetime.datetime.now()
print('Current date and time :')
print(current_date_time.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2020-06-29 20:04:10

4.Write a Python program which accepts the radius of a circle from the user and compute the area.

Sample Output : r = 1.1, Area = 3.8013271108436504

In [ ]:
from math import pi
r = float(input("Enter the radius of the Circle : "))
print("The Area of the Circle with radius " + str(r) + " is : " +str(pi*(r**2)))

Enter the radius of the Circle : 23
The Area of the Circle with radius 23.0 is : 1661.9025137490005

5.Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [ ]:
p = str(input("Enter Your First Name :"))
q = str(input("Enter Your last Name :"))
print(q +' '+ p)

Enter Your First Name :samir
Enter Your last Name :enka
enka samir

6.Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers.
Sample data : 3, 5, 7, 23

Output :
List : ['3', ' 5', ' 7', ' 23']
Tuple : ('3', ' 5', ' 7', ' 23')

In [ ]:
values = input("Enter some comma separated Numbers : ")
list = values.split(",")
del(tuple)
tuple = tuple(list)
print ("List : ", list)
print("Tuple : ",tuple)

Enter some comma separated Numbers : 3, 5, 7, 23
List :  ['3', ' 5', ' 7', ' 23']
Tuple :  ('3', ' 5', ' 7', ' 23')

7.Write a Python program to accept a filename from the user and print the extension of that.

Sample filename : abc.java

Output : java

In [ ]:
f_name = input("Enter a file name with Extension : ")
print(f_name)
type(f_name)
f_ext = f_name.split(".")
print('The Extension of the file is : ' + repr(f_ext[-1]))

Enter a file name with Extension : abc.java
abc.java
The Extension of the file is : 'java'

8.Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

In [ ]:
color_list = ["Red", "Green", "White", "Black"]
print("First and Last colors from the list are : \n" + "First Color : " + color_list[0] +" (and) "+ "Last Color : " + color_list[-1])

First and Last colors from the list are :
First Color : Red (and) Last Color : Black

9.Write a Python program to display the examination schedule. (extract the date from exam_st_date). 
exam_st_date = (11, 12, 2014)

Sample Output : The examination will start from : 11 / 12 / 2014

In [ ]:
exam_st_date = (11,12,2020)
print(exam_st_date)
type (exam_st_date)

print("The Examination will strat from : %i / %i / %i" %exam_st_date)

(11, 12, 2020)
The Examination will strat from : 11 / 12 / 2020

10.Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

Sample value of n is 5
Expected Result : 615

In [ ]:
n = int(input("Enter the value  of n : "))
print(n)
type(n)

n1 = int("%s" % n)
n2 = int("%s%s" % (n,n))
n3 = int("%s%s%s" % (n,n,n))
print(n1+n2+n3)

Enter the value  of n : 5
5
615

11.Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample function : abs()

Expected Result :
abs(number) -> number
Return the absolute value of the argument.

In [ ]:
print(abs.__doc__)

Return the absolute value of the argument.

12.Write a Python program to print the calendar of a given month and year.

Note : Use 'calendar' module.

In [ ]:
import calendar 
m = int(input("Enter Month :"))
y = int(input("Enter Year :"))
print(calendar.month(y,m))

Enter Month :4
Enter Year :1992
     April 1992
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

13.Write a Python program to print the following here document.

Sample string :

a string that you "don't" have to escape

This

is a ....... multi-line

heredoc string --------> example

In [ ]:
print("""a sriring that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

   """)

a sriring that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

14. Write a Python program to calculate number of days between two dates.

Sample dates : (2014, 7, 2), (2014, 7, 11)

Expected output : 9 days

In [ ]:
from datetime import date 
d1 = date(2020, 4, 2)
d2 = date(2020, 12, 11)
d3 = d2 - d1
print(d3.days)

253

15.Write a Python program to get the volume of a sphere with radius 6.

In [ ]:
import math 
r = int(input("Enter Radius of the Sphere :"))
print("Volume of the Sphere is :", (4/3)*math.pi*r**3)

Enter Radius of the Sphere :5
Volume of the Sphere is : 523.5987755982989

16.Write a Python program to get the difference between a given number and 17, if the number is greater than 17 return double the absolute difference

In [ ]:
inp = int(input("Enter a Number :"))
type(inp)
if (inp<=17):
  d = 17 - inp
  print("Difference :", d)
else :
  d = inp - 17
  value = d*2
  print("Absolute value:", value)

Enter a Number :27
Absolute value: 100

In [ ]:
n = int(input("Enter a Number :"))
def difference(n):
  if (n<=17):
    return 17-n
  else :
    return 2*(n-17)
print("Difference :" ,difference(n))

Enter a Number :24
Difference : 14

17.Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [ ]:
n = int(input("Enter a Number :"))
def near_thousand(n):
  return ((abs(1000-n) <= 100) or abs(2000-n) <= 100)
print(near_thousand(n))

Enter a Number :900
True

18.Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [ ]:
a = int(input("Enter First No :"))
b = int(input("Enter Second No :"))
c = int(input("Enter Third No :"))
def sum(a,b,c) :
  if (a==b==c):
    return 3*(a+b+c)
  else :    
    return (a+b+c)
print("Sum of the values :", sum(a,b,c))

Enter First No :10
Enter Second No :24
Enter Third No :50
Sum of the values : 84

19.Write a Python program to get a new string from a given string where "Is" has been added to the front. If the given string already begins with "Is" then return the string unchanged

In [ ]:
def new_string(str):
  if len(str) >= 2 and str[0:2] == "Is":
    return str
  return "Is"+str

print(new_string("I"))
print(new_string("IsArray"))

IsI
IsArray

20.Write a Python program to get a string which is n (non-negative integer) copies of a given string.

In [ ]:
str = input("Enter a sting :")
no = int(input("Enter how many times u want to print the String :"))
def copy(str, no):
  result = ""
  for i in range(no):
    result = result + str
  return result

print(copy(str,no))

Enter a sting :sam
Enter how many times u want to print the String :5
samsamsamsamsam

21.Write a Python program to find whether a given number (accept from the user) is even or odd, print out an appropriate message to the user.

In [ ]:
num = int(input("Enter a Number :"))
mod = num%2 
if (mod>0):
  print("This is an Odd Number")
else :
  print("This is an Even Number")

Enter a Number :6
This is an Even Number

22.Write a Python program to count the number 4 in a given list.

In [ ]:
str = input("Enter a list elements separated by space :")

lst = str.split()

print(lst)
type(lst)

def four(lst):
  count = 0
  for i in lst :
    if i == '4' :
      count = count + 1
   
  return count  
print("Number of 4's in this list :", four(lst))

Enter a list elements separated by space :4 5 6 7 4 3 4 4
['4', '5', '6', '7', '4', '3', '4', '4']
Number of 4's in this list : 4

In [ ]:
def list_count_4(nums):
  count = 0  
  for num in nums:
    if num == 4:
      count = count + 1

  return count

print(list_count_4([1, 4, 6, 7, 4]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

2
3

23.Write a Python program to get the n (non-negative integer) copies of the first 2 characters of a given string. Return the n copies of the whole string if the length is less than 2.

In [ ]:
def substring_copy(str, n):
  flen = 2
  if flen > len(str):
    flen = len(str)
  substr = str[:flen]

  result = ""
  for i in range(n) :
    result = result + substr
  return result
print (substring_copy('samir',5))

print(substring_copy('p', 3));

sasasasasa
ppp

24. Write a Python program to test whether a passed letter is a vowel or not.

In [8]:
word_check = input("Enter a single latter : ")
word = "aeiou"
for i in word :
  if (i == word_check):
    print("Entered Number is Vowel : ")
    break
  else :
    print("Entered Number is not a Vowel : ")
    break

Enter a single latter :a
Entered Number is Vowel :